<!-- ###WTCART_POWERMAIL### begin -->
<table border="1" cellpadding="3" cellspacing="0" width="100%">
    <tr style="font-weight: bold;">
        <td>###WTCART_LL_QTY###</td>
        <td>###WTCART_LL_SKU###</td>
        <td>###WTCART_LL_TITLE###</td>
        <td>###WTCART_LL_PRICE###</td>
        <td>###WTCART_LL_PRICE_TOTAL###</td>
    </tr>
    <!-- ###CONTENT### -->
    <!-- ###ITEM### begin -->
    <tr>
        <td class="wtcart_cart_col_title">###TITLE###</td>
        <td class="wtcart_cart_col_sku">###SKU###</td>
        <td class="wtcart_cart_col_price wtcart_cart_right">###PRICE###</td>
        <td class="wtcart_cart_col_qty">###QTY###</td>
        <td class="wtcart_cart_col_total wtcart_cart_right">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###ITEM### end -->
    <!-- ###VARIANTITEM### begin -->
    <!-- ###VARIANTITEMALL### begin -->
    <tr class="wtcart_cart_itemall">
        <td class="wtcart_cart_col_title">###TITLE###</td>
        <td class="wtcart_cart_col_sku">&nbsp;</td>
        <td class="wtcart_cart_col_price">&nbsp;</td>
        <td class="wtcart_cart_col_qty">###QTY###</td>
        <td class="wtcart_cart_col_total wtcart_cart_right" colspan="2">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###VARIANTITEMALL### end -->
    <!-- ###VARIANTITEMVARIANT### begin -->
    <tr>
        <td class="wtcart_cart_col_title">###TITLE_WITH_VARIANTS###</td>
        <td class="wtcart_cart_col_sku">###SKU_WITH_VARIANTS###</td>
        <td class="wtcart_cart_col_price wtcart_cart_right">###PRICE###</td>
        <td class="wtcart_cart_col_qty">###QTY###</td>
        <td class="wtcart_cart_col_total">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###VARIANTITEMVARIANT### end -->
    <!-- ###VARIANTITEM### end -->
    <!-- ###CONTENT### -->
    <tr>
        <td colspan="5">
            <table border="0" cellpadding="1" cellspacing="0" width="100%">
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_CART_NET###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_NET_NO_SERVICE###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_SERVICE_COST###</td>
                    <td>&nbsp;</td>
                    <td align="right">###SERVICE_COST_NET###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###TAXCLASS_1_STRING###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_TAX_1###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###TAXCLASS_2_STRING###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_TAX_2###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###TAXCLASS_3_STRING###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_TAX_3###</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>&nbsp;</td>
                    <td colspan="2" align="left">###WTCART_LL_GROSS_TOTAL###</td>
                    <td>&nbsp;</td>
                    <td align="right">###CART_GROSS###</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_SHIPPING###
        </td>
        <td colspan="3">
            ###SHIPPING_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_PAYMENT###
        </td>
        <td colspan="3">
            ###PAYMENT_OPTION###
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ###WTCART_LL_SPECIAL###
        </td>
        <td colspan="3">
            ###SPECIAL_OPTION###
        </td>
    </tr>
</table>
<!-- ###WTCART_POWERMAIL### end -->